body {
    margin:0;
}

header {
    height:48px;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 6px;
    width: 99%;
   
    
}

a {
    padding-top: 10px;
}

.user {
    background-image: url("spaceuser.jpg");
    border-radius: 60px;

}